
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #FEFAE0;
    padding: 10px 0;
}

header img {
    height: 180px; 
    vertical-align: middle;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #f7b309;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

.hero {
    background-color: #E9EDC9;
    padding: 50px 0;
    text-align: center;
}

.descripcion-proyecto ul {
    list-style-type: none;
    padding: 0;
}

.descripcion-proyecto ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #FAEDCD;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li a {
    color: #333;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}


form {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 300px;
}


.calculadora {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}
.card-group {
    background-color: #FAEDCD;
}
.card-img-top {
    height: 30vh;
    width: 100%;

}
.mb-4 {
    margin-top: 10px;
}